.nav_hack{
    width: 100%;
    height: 10%;
    min-height: 0%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(77, 23, 23);
    box-shadow: 0 5px 10px 	#032c61
} 
.bg-light{
    background-color: black;
}