@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.contenedor{
    background-color: red;
    margin: 0;
    margin-right: 0;
}
.titulo{
    font-family: 'Fredoka One', cursive;
    padding: 10px;
    size: 10em;
    font-size: 2em;
}
.me-auto{
    
    position: relative;
    left: 80%;
}